{% extends "courses/layout.html" %}

{% block title %}All Users{% endblock %}

{% block content %}
    <h1>All Users</h1>
    <table>
        {% for user in users %}
        <tr>      
            <td>{{ user['id'] }}</td>
            <td><a href="{{ url_for('get_users_id', id=user['id']) }}">{{ user['name'] }}</a></td>     
        </tr>
        {% endfor %}
    </table>
    <p>Навигация #1</p>
    {% if prev_page is not none %}
        <a href="{{ url_for('get_users', page=prev_page) }}">Назад</a>
    {% endif %}

        Страница {{ page }}

    {% if next_page is not none %}
        <a href="{{ url_for('get_users', page=next_page) }}">Вперед</a>
    {% endif %}

    
    <h2>Add new user</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/users/new" method="post">
        <div>
            <label>Имя
                <input type="text" name="name" value="{{ user['name'] }}">
            </label>
            {% if errors['name'] %}
                <div>{{ errors['name'] }}</div>
            {% endif %}
        </div>
        <div>
            <label>Email
                <input type="email" name="email" value="{{ user['email'] }}">
            </label>
            {% if errors['email'] %}
                <div>{{ errors['email'] }}</div>
            {% endif %}
        </div>
        <input type="submit" value="Add">
    </form>
{% endblock %}